PORT=3000

# Prisma CLI용 (마이그레이션)
DATABASE_URL="mysql://root:비밀번호@localhost:3306/board"

# Prisma Client용 (서버 실행)
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=board
